.Nav {
	text-align: center;
	padding: 13px;
	margin-bottom: 13px;
}

.logo {
	font-size: 23px;
	padding-top: 15px;
	padding-bottom: 13px;
	padding-left: 10px;
}

.nav-buttons {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 8px;
}

// &-link {
// 	padding: 0 4px;
// 	color: #FDFEFE;
// 	text-decoration: none;
//
// 	&.is-active,
// 	&:hover {
// 		color: #82E0AA;
// 	}
// 	&.is-active {
// 		text-decoration: underline;
// 		}
// 	}
// }
