.Nav {
	text-align: center;
	padding: 13px;
	margin-bottom: 13px;
	background: #AEB6BF;
}

// &-link {
// 	padding: 0 4px;
// 	color: #FDFEFE;
// 	text-decoration: none;
//
// 	&.is-active,
// 	&:hover {
// 		color: #82E0AA;
// 	}
// 	&.is-active {
// 		text-decoration: underline;
// 		}
// 	}
// }
