.Nav {
	text-align: center;
	padding: 13px;
	margin-bottom: 13px;
	background-color: #F4F6F6;
}

.icon {
	font-size: 19px;
	padding-top: 15px;
	padding-bottom: 13px;
	padding-left: 5px;
	width: 65px;
	height: 75px;
}

.nav-buttons {
	padding-top: 24px;
	padding-bottom: 10px;
	padding-right: 8px;
	color: #58BE84;
	// box-shadow: 2px 2px 4px #000000;
}

.logo {
	float: right;
	font-size: 40px;
	margin: 0 auto;
	padding-top: 33px;
	font-weight: bold;
	text-shadow: 2px 2px 4px #000000;
}

// &-link {
// 	padding: 0 4px;
// 	color: #FDFEFE;
// 	text-decoration: none;
//
// 	&.is-active,
// 	&:hover {
// 		color: #82E0AA;
// 	}
// 	&.is-active {
// 		text-decoration: underline;
// 		}
// 	}
// }
